<div class="each-plan">
  <div class="plan-name">デイタイムプラン</div>
  <ul class="plan-body">
    <li class="plan-price">
      <div class="each-price">5,000</div>
      <div class="plan-getsugaku">月額</div>
    </li>
    <li class="plan-menu">入会金0円</li>
    <li class="plan-menu">平日:9時～17時</li>
    <li class="plan-menu">土日祝：利用ナシ</li>
    <li class="plan-menu">コアタイムでの利用に最適なプラン</li>
  </ul>
</div>
<div class="each-plan">
  <div class="plan-name">スタンダードプラン</div>
  <ul class="plan-body">
    <li class="plan-price">
      <div class="each-price">15,000</div>
      <div class="plan-getsugaku">月額</div>
    </li>
    <li class="plan-menu">入会金0円</li>
    <li class="plan-menu">平日:17時～23時</li>
    <li class="plan-menu">土日祝：営業時間全て</li>
    <li class="plan-menu">営業時間内で終日ご利用可能なプラン</li>
  </ul>
</div>
