@use "../../variables" as *;
.plan {
  text-align: center;
  margin-bottom: 40px;
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 24px;
  }
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;

  .name {
    padding: 20px;
    color: $white;
    font-size: $fontsize-l;
    font-weight: 700;
    background-color: $orange_zorba;
  }
  &:nth-child(2n) {
    border: 5px solid $orange_bistre;
    .name {
      padding-top: 15px;
      background-color: $orange_bistre;
    }
    .menu {
      &:last-child {
        padding-bottom: 15px;
      }
    }
  }

  .price {
    border: 1px solid $gray_gainsboro;
    padding: 24px;
    background-color: $gray_desertStorm;

    .each-price {
      color: $orange_bistre;
      font-size: $fontsize-xxl;
      font-weight: 700;
      &::before {
        content: "￥";
        font-size: $fontsize-l;
      }
    }

    .monthly {
      margin-top: 16px;
      font-size: $fontsize-s;
    }
  }

  .menu {
    border-right: 1px solid $gray_gainsboro;
    border-left: 1px solid $gray_gainsboro;
    border-bottom: 1px solid $gray_gainsboro;
    padding: 20px;
    font-size: $fontsize-m;
    list-style: none;
  }
}
