<ul class="plan">
  <li class="name">デイタイムプラン</li>
  <li class="price">
    <span class="each-price">5,000</span>
    <div class="monthly">月額</div>
  </li>
  <li class="menu">入会金0円</li>
  <li class="menu">平日:9時～17時</li>
  <li class="menu">土日祝：利用ナシ</li>
  <li class="menu">コアタイムでの利用に最適なプラン</li>
</ul>
<ul class="plan">
  <li class="name">スタンダードプラン</li>
  <li class="price">
    <span class="each-price">15,000</span>
    <div class="monthly">月額</div>
  </li>
  <li class="menu">入会金0円</li>
  <li class="menu">平日:17時～23時</li>
  <li class="menu">土日祝：営業時間全て</li>
  <li class="menu">営業時間内で終日ご利用可能なプラン</li>
</ul>
