@use "../../variables" as *;
.card {
  overflow: hidden;

  .triangle {
    position: absolute;
    z-index: 1;
    border-right: 150px solid transparent;
    border-top: 150px solid $white;
  }
  .text {
    position: absolute;
    z-index: 2;
    font-weight: 700;
    font-size: $fontsize-l;
    color: $orange_bistre;
    margin-left: 6px;
  }
}
.card-img-top {
  border-radius: 0;
}

.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white_smoke;
  padding: 32px;

  .card-text {
    font-size: $fontsize-s;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .card-img-top {
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
