@use "../../variables" as *;
.top {
  padding-bottom: 32px;
  width: 991px;
  .top-image-wrapper {
    background-image: url("../../../img/top-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    h2 {
      color: $white;
      font-size: $fontsize-l;
      writing-mode: vertical-rl;
    }
  }
  .top-text-wrapper {
    height: 211px;
    background-color: $black;
    text-align: center;
    .message {
      padding: 32px 161px;
      line-height: 28px;
      h2 {
        font-size: $fontsize-l;
        font-family: $fontfamily-mincho;
        font-weight: 400;
        color: $white;
        padding-bottom: 6px;
        margin: 0;
      }
      p {
        color: $white;
        font-size: $fontsize-s;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .top {
    width: 992px;
    padding-bottom: 30px;
    .top-image-wrapper {
      height: 700px;
      h2 {
        font-size: $fontsize-xl;
      }
    }
    .top-text-wrapper {
      height: 316px;
      .message {
        padding: 52px 36px 74px;
        line-height: 54px;
        h2 {
          font-size: $fontsize-xl;
          width: 893px;
        }
      }
    }
  }
}
