@use "../../variables" as *;
.top {
  padding-bottom: 32px;
  width: 992px;

  color: $white;
  .top-image-wrapper {
    background-image: url("../../../img/top-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    .top-text {
      font-size: $fontsize-l;
      writing-mode: vertical-rl;
    }
  }
  .top-text-wrapper {
    height: 211px;
    background-color: $black;
    color: $white;
    text-align: center;
    .top-text {
      font-size: $fontsize-l;
      font-family: $fontfamily-mincho;
      font-weight: 400;
      line-height: 29px;
      color: $white;
    }
    .message {
      font-size: $fontsize-s;
      padding: 32px 161px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .top {
    padding-bottom: 30px;
    .top-image-wrapper {
      height: 700px;
      .top-text {
        font-size: $fontsize-xl;
      }
    }
    .top-text-wrapper {
      height: 316px;
      .message {
        padding: 52px 36px 74px;
        .top-text {
          font-size: $fontsize-xl;
          line-height: 54px;
          width: 893px;
        }
      }
    }
  }
}
