<nav class="navbar navbar-collapse navbar-expand-xl navbar-back">
  <div class="header-top">
    <a class="navbar-brand" href="#"><img src="../../../img/header.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="humberger-bar">
        <img src="../../../img/humberger-bar.svg"></img>
      </span>
    </button>
  </div>
  <div class="collapse" id="navbarNavDropdown">
    <ul class="navbar-nav header-wrapper">
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">HOME</a>
      </li>
      <li class="nav-item concept">
        <div class="concept-top"> 
          <a class="nav-link nav-textstyle" href="#" data-bs-toggle="dropdown">
            CONCEPT
          </a>
          <button class="navbar-toggler header-Elipse2" type="button" data-toggle="collapse" data-target="#navbarDropdownMenuLink" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span>
              <img src="../../../img/Ellipse2.svg"></img>
            </span>
          </button>
        </div>
        <ul class="collapse concept-dropdown px-0" id="navbarDropdownMenuLink">
          <li><a class="dropdown-style" href="#">ブログアーカイブ</a></li>
          <li><a class="dropdown-style" href="#">お知らせアーカイブ</a></li>
          <li><a class="dropdown-style" href="#">イベントアーカイブ</a></li>
          <li><a class="dropdown-style" href="#">インタビューアーカイブ</a></li>
          <li><a class="dropdown-style" href="#">FAQページ</a></li>
          <li><a class="dropdown-style" href="#">固定ページ(デフォルト)</a></li>
          <li><a class="dropdown-style" href="#">CONCEPT</a></li>
          <li><a class="dropdown-style" href="#">SERVICE</a></li>
          <li><a class="dropdown-style" href="#">FLOOR</a></li>
          <li><a class="dropdown-style" href="#">ACCESS</a></li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">SERVICE</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">FLOOR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">BLOG</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">ACCESS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textstyle" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>
