<section class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <div class="news-content-wrapper">
    <article class="news-content">
      <time class="date">2018.06.20</time>
      <a href="#" class="news-text">
        ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました!
      </a>
    </article>
    <article class="news-content">
      <time class="date">2018.06.18</time>
      <a href="#" class="news-text">
        3種のレイアウトから選択できるテンプレートを固定ページに実装
      </a>
    </article>
    <article class="news-content">
      <time class="date">2018.06.12</time>
      <a href="#" class="news-text">
        利用者からのご質問をまとめた「FAQ」ページをアップしました。
      </a>
    </article>
    <article class="news-content">
      <time class="date">2018.06.08</time>
      <a href="#" class="news-text">
        デモ用のサンプルデータを表示する「インポート機能」でサイト構築をよりスピーディに
      </a>
    </article>
    <article class="news-content">
      <time class="date">2018.06.02</time>
      <a href="#" class="news-text"> テーマのアップデート情報について </a>
    </article>
  </div>
  <div class="news-footer">
    <a href="#" class="news-and-events-more">
      お知らせ一覧<i class="fas fa-chevron-right"></i>
    </a>
  </div>
</section>
