@use "../../variables" as *;

.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  .news-contents-wrapper {
    border: solid 1px $gray_gainsboro;
    border-bottom: none;
    margin-bottom: 14px;
    .news-click {
      &:hover {
        text-decoration: none;
      }
      .news-content {
        height: 85px;
        padding: 20px;
        border-bottom: solid 1px $gray_gainsboro;
        .date {
          display: block;
          line-height: 1;
          font-size: $fontsize-xs;
          color: $gray_nobel;
          margin-bottom: 10px;
        }
        .news-title {
          margin-bottom: 0;
          font-weight: 400;
          color: $black;
          font-size: $fontsize-m;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: color 0.2s ease;
          &:hover {
            color: $orange_bistre;
          }
        }
      }
    }
  }
}
