<footer id="footer">
  <div class="contact">
    <a href="#"><img src="../../../img/footer.png" /></a>
    <p class="contact-text">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </p>
    <div class="icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fas fa-rss"></i></a>
    </div>
  </div>
  <nav class="footer-nav">
    <ul class="footer-wrapper">
      <li><a href="#" class="footer-content">HOME</a></li>
      <li><a href="#" class="footer-content">CONCEPT</a></li>
      <li><a href="#" class="footer-content">SERVICE</a></li>
      <li><a href="#" class="footer-content">FLOOR</a></li>
      <li><a href="#" class="footer-content">INTERVIEW</a></li>
      <li><a href="#" class="footer-content">BLOG</a></li>
      <li><a href="#" class="footer-content">ACCESS</a></li>
      <li><a href="#" class="footer-content">DOWNLOAD</a></li>
    </ul>
  </nav>
  <p class="footer-text">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </p>
</footer>
