@use "../../variables" as *;
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 32px 20px;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 52px 20px;
  }
  & > h2 {
    margin-bottom: 6px;
    font-size: $fontsize-l;
    color: $black;
    font-family: $fontfamily-mincho;
    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
      font-size: $fontsize-xl;
      margin-bottom: 10px;
    }
  }
  & > p {
    font-size: $fontsize-s;
    color: $black;
    font-family: $fontfamily-gothic;
    margin: 0px;
  }
}
