@use "../../variables" as *;
@use "../../molecules/message/message.scss" as *;
.plans {
  .message {
    padding: 0px 41px 32px;
    h2 {
      color: $orange_bistre;
    }
  }
  .plan {
    margin-bottom: 24px;
  }
  .message {
    padding-top: 25px;
  }
}
