@use "../../variables" as *;
@use "../../molecules/message/message.scss" as *;
.plans {
  margin: 40px 97px 0px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 40px 24px 52px;
  }
  .message {
    padding: 0px 41px 32px;
    line-height: 30px;
    h2 {
      color: $orange_bistre;
      line-height: 28px;
    }
  }
  .plans-wrap {
    display: block;
    @media screen and (min-width: $breakpoint-md) {
      display: flex;
      flex-flow: row wrap;
      gap: 30px;
    }
    .plan {
      display: inline-block;
      flex: 1;
      width: 100%;
      margin: 0px 0px 40px;
      height: fit-content;
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
      }
    }
  }
  .button {
    margin: 0px auto 35px;
    @media (min-width: $breakpoint-md) {
      margin-bottom: 100px;
    }
  }
}
