<div class="plans">
  <div class="message">
    <h2>ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p>
      平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休
      日をメインとしたプランなど、<br />
      多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びい
      ただけます。<br />
      ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいと
      いう方もぜひご利用ください。
    </p>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <ul class="plan">
        <li class="name">デイタイムプラン</li>
        <li class="price">
          <span class="each-price">5,000</span>
          <div class="monthly">月額</div>
        </li>
        <li class="menu">入会金0円</li>
        <li class="menu">平日:9時～17時</li>
        <li class="menu">土日祝：利用ナシ</li>
        <li class="menu">コアタイムでの利用に最適なプラン</li>
      </ul>
    </div>
    <ul class="plan">
      <li class="name">スタンダードプラン</li>
      <li class="price">
        <span class="each-price">15,000</span>
        <div class="monthly">月額</div>
      </li>
      <li class="menu">入会金0円</li>
      <li class="menu">平日:17時～23時</li>
      <li class="menu">土日祝：営業時間全て</li>
      <li class="menu">営業時間内で終日ご利用可能なプラン</li>
    </ul>
    <div class="col">
      <ul class="plan">
        <li class="name">プレミアムプラン</li>
        <li class="price">
          <span class="each-price">20,000</span>
          <div class="monthly">月額</div>
        </li>
        <li class="menu">入会金5000円</li>
        <li class="menu">平日:営業時間全て</li>
        <li class="menu">土日祝：営業時間全て</li>
        <li class="menu">フルタイムに使いたい方のためのプレミアムなプラン</li>
      </ul>
    </div>
  </div>
  <div class="message">
    <a href="#" class="button">プラン料金</a>
  </div>
</div>
